<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.advantech.bleeplib">

    <!--Bluetooth management-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--Bluetooth operation permissions-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Android phones must support BLE for downloading from Google Play -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

</manifest>